button {
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 0 1 20%;
}

.previous {
  padding-right: 10px;
  text-align: end;
  font-size: 30px;
  height: 30px;
  flex: 0 1 50%;
  border: solid gray;
}

.current {
  padding-right: 10px;
  font-size: 40px;
  text-align: end;
  height: 50px;
  flex: 0 1 50%;
  border: solid gray;
}

.container {
  margin: 10px 25%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.buttons {
  /* margin: 0 40%; */
  width: 30%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex: 0 1 51%;
}
